.startbtn{
    /*border: white;*/
    width: auto;
    height: auto;
}
.cols{
    display: flex;
}
.sidebar{

}
.ads-input-form{
    margin-bottom: 5px;
}
.btn-outline-secondary{
    width: auto;
    height: 40px;
}

.btn-success{
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}
.nowcontainer{
    display: flex;
    justify-content: center;
}
.nowbtn {
    width: 100px;
    height: 50px;
    text-align: center;

}
